@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<ul>
    <li>@Html.ActionLink("English", "Change", "Lang", new { lang = "En" }, null)</li>
    <li>@Html.ActionLink("Kannada", "Change", "Lang", new { lang = "Kn" }, null)</li>
    <li>@Html.ActionLink("Arabic", "Change", "Lang", new { lang = "Ar" }, null)</li>
    <li>@DateTime.Now.ToString()</li>
</ul>